@{
    ViewData["Title"] = "Home Page";
}

<div class="landing_page">
    <div class="trending-challenge gray-bar hidden-mobile">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon glyphicon-facetime-video"></span>
                    <b class="text-red">
                        Trending Challengees :
                    </b>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li>
                            <span class="glyphicon glyphicon-play-circle text-red"></span>
                            <span>Karaoke(Challenging all karaoke items)</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-play-circle text-red"></span>
                            <span>Vocal Face-off(volalists wanted)</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-play-circle text-red"></span>
                            <span>Guitar Face-off(shared your grestest riffs)</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="video-banner">
            <div class="col-md-6">
                <div class="video main-video">
                        <video controls="controls"  poster="~/images/video-thmb-1.jpg">
                            <source src="~/videos/by myself.mp4" type="video/mp4" />
                        </video>

                    <div class="video-details">
                        <div class="event">Masked Event</div>
                        <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                        <div class="social">
                            <span class="margin-right-10">
                                <i class="glyphicon glyphicon-time"></i>
                                5 Month
                            </span>
                            <span class="margin-right-10">
                                <i class="glyphicon glyphicon-comment"></i>
                                531
                            </span>
                            <span>
                                <i class="glyphicon glyphicon-eye-open"></i>
                                17,999
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-mobile">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="video sub-video">
                                <video controls="controls" poster="~/images/video-thmb.jpg">
                                    <source src="~/videos/movie.mp4" type="video/mp4" />
                                </video>
                                <div class="video-details">
                                    <div class="event">Masked Event</div>
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video sub-video">
                                <video controls="controls" poster="~/images/video-thmb.jpg">
                                    <source src="~/videos/movie.mp4" type="video/mp4" />
                                </video>
                                <div class="video-details">
                                    <div class="event">Masked Event</div>
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 top-sub-video">
                        <div class="col-md-6">
                            <div class="video sub-video">
                                <video controls="controls" poster="~/images/video-thmb.jpg">
                                    <source src="~/videos/movie.mp4" type="video/mp4" />
                                </video>
                                <div class="video-details">
                                    <div class="event">Masked Event</div>
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video sub-video">
                                <video controls="controls" poster="~/images/video-thmb.jpg">
                                    <source src="~/videos/movie.mp4" type="video/mp4" />
                                </video>
                                <div class="video-details">
                                    <div class="event">Masked Event</div>
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <div class="unseen-video gray-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="pull-left">
                            <div class="name">
                                <span class="text-red">Unseen</span>
                                <span>Videos</span>
                            </div>
                        </div>
                        <div class="pull-right ">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-chevron-right text-red" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row unseen-video-container">

                <ul>
                    <li class="col-md-3">
                        <div class="video">
                            <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                <source src="~/videos/by myself.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="details">
                            <span class="video-name pull-left">Masked Event</span>
                            <span class="video-count pull-right">
                                <span class="text-red">9 </span>Videos
                            </span>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="video">
                            <video controls="controls" poster="~/images/video-thmb.jpg">
                                <source src="~/videos/movie.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="details">
                            <span class="video-name pull-left">Karaoke Event</span>
                            <span class="video-count pull-right">
                                <span class="text-red">9 </span>Videos
                            </span>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="video">
                            <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                <source src="~/videos/by myself.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="details">
                            <span class="video-name pull-left">UnMasked Event</span>
                            <span class="video-count pull-right">
                                <span class="text-red">9 </span>Videos
                            </span>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="video">
                            <video controls="controls" poster="~/images/video-thmb.jpg">
                                <source src="~/videos/movie.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="details">
                            <span class="video-name pull-left">Special Event</span>
                            <span class="video-count pull-right">
                                <span class="text-red">9 </span>Videos
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="body-video-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="sub-section">
                        <div class="section-heading">
                            <div class="pull-left">
                                <div class="name">
                                    <span class="text-red">Latest</span>
                                    <span>Videos</span>
                                </div>
                            </div>
                            <div class="pull-right ">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-right text-red" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb.jpg">
                                        <source src="~/videos/movie.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb.jpg">
                                        <source src="~/videos/movie.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="sub-section">
                        <div class="section-heading">
                            <div class="pull-left">
                                <div class="name">
                                    <span class="text-red">Viral</span>
                                    <span>Videos</span>
                                </div>
                            </div>
                            <div class="pull-right ">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-right text-red" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb.jpg">
                                        <source src="~/videos/movie.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb.jpg">
                                        <source src="~/videos/movie.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="video sub-video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div class="video-details">
                                    <div class="name margin-bottom-15 margin-top-15">This Honest Lottery Ad Won't you feel very luckey</div>
                                    <div class="social">
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-time"></i>
                                            5 Month
                                        </span>
                                        <span class="margin-right-10">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            531
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            17,999
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3  hidden-mobile">
                    <div class="sub-section margin-bottom-15">
                        <div class="section-heading">
                            <div class="pull-left">
                                <div class="name">
                                    <span class="text-red">Stay</span>
                                    <span>Connected</span>
                                </div>
                            </div>
                            <div class="pull-right ">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-right text-red" aria-hidden="true"></span>
                            </div>
                        </div>

                        <ul>
                            <li class="connected-button-wrapper margin-top-15">
                                <button class="btn btn-us-gray"><i class="fa fa-rss"></i> 15K RSS Feed Subscribers</button>
                            </li>
                            <li class="connected-button-wrapper">
                                <button class="btn btn-us-gray"><i class="fa fa-twitter"></i> 217K Twitter Followers</button>
                            </li>

                            <li class="connected-button-wrapper">
                                <button class="btn btn-us-gray"><i class="fa fa-facebook-f"></i> 118K Facebook Fans</button>
                            </li>
                            <li class="connected-button-wrapper">
                                <button class="btn btn-us-gray"><i class="fa fa-google-plus"></i> 90K Google Plus Fans</button>
                            </li>
                        </ul>
                    </div>

                    <div class="sub-section margin-top-15 latest-video">
                        <div class="section-heading">
                            <div class="pull-left">
                                <div class="name">
                                    <span class="text-red">Latest</span>
                                    <span>Connected</span>
                                </div>
                            </div>
                            <div class="pull-right ">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-right text-red" aria-hidden="true"></span>
                            </div>
                        </div>

                        <ul>
                            <li class="margin-top-15">
                                <div class="pull-left ">
                                    <div class="video light-graybar">

                                    </div>
                                </div>
                                <div class="pull-left video-details">

                                    <div class="name">Mainstage 1st. voting</div>
                                    <div class="name">Round karaoke...</div>
                                    <div class="date margin-top-10">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 25 Dec, 2017
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="pull-left ">
                                    <div class="video light-graybar"></div>
                                </div>
                                <div class="pull-left video-details">

                                    <div class="name">Mainstage 1st. voting</div>
                                    <div class="name">Round karaoke...</div>
                                    <div class="date margin-top-10">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 25 Dec, 2017
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="pull-left ">
                                    <div class="video light-graybar"></div>
                                </div>
                                <div class="pull-left video-details">

                                    <div class="name">Mainstage 1st. voting</div>
                                    <div class="name">Round karaoke...</div>
                                    <div class="date margin-top-10">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 25 Dec, 2017
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="sub-section margin-top-15 most-viewed">
                        <div class="section-heading">
                            <div class="pull-left">
                                <div class="name">
                                    <span class="text-red">Today's</span>
                                    <span>Most Viewed</span>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li class="margin-top-15">
                                <div class="video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div>
                                    <span class="video-name pull-left">UnMasked Event</span>
                                    <span class="video-count pull-right">
                                        <span class="text-red">9 </span>Videos
                                    </span>
                                </div>
                            </li>


                            <li class="margin-top-15">
                                <div class="video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div>
                                    <span class="video-name pull-left">UnMasked Event</span>
                                    <span class="video-count pull-right">
                                        <span class="text-red">9 </span>Videos
                                    </span>
                                </div>
                            </li>


                            <li class="margin-top-15">
                                <div class="video">
                                    <video controls="controls" poster="~/images/video-thmb-1.jpg">
                                        <source src="~/videos/by myself.mp4" type="video/mp4" />
                                    </video>
                                </div>
                                <div>
                                    <span class="video-name pull-left">UnMasked Event</span>
                                    <span class="video-count pull-right">
                                        <span class="text-red">9 </span>Videos
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
